<?xml version="1.0" encoding="UTF-8"?>
<!-- 로컬 개발용 DTD 선언 : 운영 소스에서는 로컬용에 주석하고 사용 -->
<!DOCTYPE mapper SYSTEM "../../../../mybatis-3-mapper.dtd" >

<!-- AWS 운영용 DTD 선언 : 운영 소스에 업로드 전에 위의 로컬용 SYSTEM DTD 는 주석처리, 아래 PUBLIC DTD 주석 풀어서 업로드 해야 함 -->
<!-- !DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd"-->
  
<mapper namespace="com.ryu.bigdata.mapper.VectorMapper">

	<insert id="insertSku" parameterType="com.ryu.bigdata.vo.SkuImgVo">
		INSERT INTO bigdata.SKU
		(
			GOODS_ID
		  , COLOR_ID
		  , SKU_CODE
		  , SKU_NAME
	  	  , EVAL_POINT_AVERAGE
		  , ORIGIN, TAG_PRICE
		  , DESCR
		  , COLLECT_PATH
		  , REG_DATE_TIME
		  , UPDATE_DATE_TIME
		  , REG_USER
		  , UPDATE_USER
		)
		VALUES
		(
		      244700
		    , null
		    , '0000000096217'
		    , '숄더백 J01MQ534D'
	  	    , null
			, '한국'
			, 353000
			, null
			, 'http://department.ssg.com/item/itemView.ssg?itemId=0000000096217'
			, null
			, null
			, null
			, null
		);
	</insert>
	

	
</mapper>













