<?xml version="1.0" encoding="UTF-8"?>
<!-- 로컬 개발용 DTD 선언 : 운영 소스에서는 로컬용에 주석하고 사용 -->
<!DOCTYPE mapper SYSTEM "../../../../mybatis-3-mapper.dtd" >

<!-- AWS 운영용 DTD 선언 : 운영 소스에 업로드 전에 위의 로컬용 SYSTEM DTD 는 주석처리, 아래 PUBLIC DTD 주석 풀어서 업로드 해야 함 -->
<!-- !DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd"-->
  
<mapper namespace="com.ryu.bigdata.mapper.VectorMapper">

	<!-- resultType 대신 resultMap 으로 결과셋 처리하고 productMap 으로 받도록 설정 -->
	<select id="selectVectorNoList" parameterType="com.ryu.bigdata.vo.SkuImgVo" resultType="com.ryu.bigdata.vo.SkuImgVo">

		SELECT  SKU_IMG_ID as skuImgId, SKU_ID as skuId, S3_PATH as s3Path
		FROM bigdata.SKU_IMG
		WHERE 1 = 1
		AND VECTOR_YN = 'N'
		<if test="regDateTime != null">
			AND DATE_FORMAT(REG_DATE_TIME, '%Y-%m-%d') LIKE #{regDateTime}
		</if>

	</select>

	<update id="updateVector" parameterType="com.ryu.bigdata.vo.SkuImgVo">
		UPDATE bigdata.SKU_IMG SET VECTOR_YN = 'Y', VECTOR = #{vector} where SKU_ID = #{skuId} and SKU_IMG_ID = #{skuImgId}
	</update>
	

	
</mapper>













